/* 1. RESETEO Y BASE */
*{
    margin: 0;
   padding: 0;
   /* El borde no aumenta el tamaño de la caja */
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif;
}

/* 2. EL CONTENEDOR PRINCIPAL (HERO) */
.hero {
width: 100%;
min-height: 100vh; /*Ocupa toda la pantalla*/
background-image: url(../images/back-image.png);
background-position: center;
background-size: cover; /*La imagen cubre todo sin deformarse*/
padding: 10px 10%; /*Margen interior por los lados*/
overflow: hidden; /*Oculta lo que salga de la pantalla*/
position: relative; /*Para poner la imagen del móvil absoluta después*/

}
/*3. BARRA DE NAVEGACIÓN*/
nav {
padding: 10px 0;
display: flex; /*Flexbox para poner elementos en fila*/
align-items: center;
justify-content: space-between; /*Empuja el log. iz a la derecha*/
}

.logo {
width: 140px;
}

nav ul li {
display: inline-block; /*pone la lista en horizontal*/
list-style: none; /*Quita los puntos de la lista*/
margin: 10px 15px;
}

nav ul li a {
text-decoration: none; /*Quita el subrayado*/
color: 400;
font-weight: 400;
}

/*4. BOTONES PREMIUM*/

.logn-btn{
text-decoration: none;
color: #333;
margin-right: 15px;
font-weight: 400;
}

.btn {
display: inline-block;
text-decoration: none;
padding: 14px 40;
color: #fff;
background-image: linear-gradient(45deg, #df4881, #c430d7);
font-size: 14px;
border-radius: 30px;
border-top-right-radius: 0; /*Le quita el redondeo a una esquina*/
transform: 0.5s;


}

.btn:hover {
/*Al pasar el ratón se redondea por completo*/
border-top-right-radius: 30px;
}

/*5. CONTENEDOR DE TEXTOS*/
.content {
margin-top: 10%;
max-width: 600px;

}

.content h1 {
font-size: 70px ;
color: #222;
}
.content p {
margin: 10px 0 30px;
color: #333;
}

.content .btn{
padding: 10px 70px;
font-size: 20px;
}

/*  */

.feature-img {
width: 530px;
position: absolute; /*Imagen se deplaza a la dcha*/
bottom: 0; /*Chica pegada al extremo inferior*/
right: 10px;
}

/* 6. MAGIA : ANIMACIONES  */
/*Creamos la película: De transparente y abajo, a visible y arriba*/
@keyframes moveup {
100% {
    opacity: 1;
    transform: translateY(0px);
}

}
.anim {
    opacity: 0;  /*Empiezan invisibles*/
    transform: translateY(30px); /*Empieza 30px más abajo de su sitio real*/
animation: moveup 0.5s linear forwards; /*Ejecutan moveup y se quedan en el estado final*/
 
}
/*Aplicamos la película a todos los que tengan clase anim*/
.content p {

animation-delay: 0.5s;
}

.content .btn {
animation-delay: 1s;

}

.feature-img.anim {
animation-delay: 1.5s;

}
